@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 30px rgba(168,85,247,0.3);
}